.form__label_type_register,
.form__label_type_login {
  color:#8B8B8B;
  line-height: 12px;
}

.form__input_type_register,
.form__input_type_login {
  color: #FFF;
  padding: 15px;
  border-radius: 8px;
  background: #2F2F2F;
  margin-top: 10px;
  font-size: 13px;
  line-height: 16px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
}

.form__input_type_register::placeholder,
.form__input_type_login::placeholder {
  color: #FFF;
  opacity: 1;
  font-size: 13px;
  line-height: 16px;
}

.form__label_type_profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 13px;
}

.form__input_type_profile {
  padding: 0;
  line-height: normal;
  font-size: 11px;
  text-align: right;
  background-color: #202020;
  color: #FFF;
}

.form__item_type_profile:first-child::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #424242;
  bottom: -18px;
  left: 0;
}

.form__input_type_profile::placeholder {
  color: #FFF;
  line-height: 13px;
  opacity: 1;
  text-align: right;
  font-size: 13px;
}

@media (min-width: 768px) {
  .form__input::placeholder {
    font-size: 18px;
  }

  .form__input_type_login::placeholder,
  .form__input_type_register::placeholder {
    font-size: 13px;
  }
}